
  .message {  
    display: flex;
    align-items: center;
    color: white;
    padding: 14px;
    padding-left: 20px;
    margin-top: 5px;

    .messageInfo {
      padding: 2px 10px 2px 10px;
    }

    .messageTimestamp {
      color: #7b7c85;  
      margin-left: 20px;
      font-size: 13px;
    }
  }