.sidebar {
  display: flex;
  flex: 0.25;
  height: 100vh;
  // background-color: #33363d; // todo 後で home に移動させる

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202226;
    padding: 7px 15px;

    .serverIcon {
      width: 55px;
      height: 55px;
      background-color: #33363d;
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;
      margin-top: 7px;

      img {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: filter 0.3s ease; // トランジション効果を追加
        cursor: pointer;

        filter: brightness(0.9);
        &:hover {
          filter: brightness(1.2); // 明るさを20%増加
          // または以下のような効果も選択できます：
          // filter: brightness(1.2) contrast(1.1); // コントラストも少し上げる
          // filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5)); // 光る効果
        }
      }
    }
  }
  
  .sidebarRight {
    background-color: #2b2d30;
    width: 280px;
    position: relative;
    

    .sidebarTop {
      color : #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 13px;
      
      .sidebarChannelsHeader {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 9px;

        .sidebarHeader {
          display: flex;
        }
        .sidebarAddIcon{
          cursor: pointer;
        }
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding-bottom: 20px;
      padding-top: 15px;      
      border-top: 2px solid #474b55;


      img {
        width: 50px;
        height: 50px;
        border-radius: 9999px;
      }

      .sidebarAccount {
        display: flex;
        align-items: center;
        .accountName {
          margin-left: 10px;
          h4 {
            font-size: 18px;
            margin-left: 5px;
            margin-bottom: 4px;
            color: #ffffff;
            font-weight: 500;
          }
          span {
            font-size: 13px;
            margin-left: 5px;
            color: #686a6e;
          }
        }
      }

      .sidebarVoice {
        display: flex;
        align-items: center;
        color: #686a6e;
        gap: 5px;
        cursor: pointer;
      }
    }
  }
}
